/* CSS COMÚN: EN ÉL ESTÁN LOS RECURSOS COMUNES PARA TODO EL PROYECTO*/


/* Le doy un fondo y un formato general a la página: */

body {
    background: url(#);
    background-color: #434141;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Formato para los enlaces */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


/* Cargo las fuentes que voy a utilizar */

@font-face {
    font-family: Roboto;
    src: url(../assets/fuentes/Roboto-Regular.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(../assets/fuentes/BebasNeue-Regular.ttf);
}

.canvas {
    margin: 50px auto;
    background-color: rgb(168, 130, 130);
}

.canvas2 {
    display: block;
    margin: 20px auto;
    background-color: rgb(10, 112, 126);
}

.imgAvatar {
    display: none;
    border: 1px solid red;
}